<div class="modal-header">
    <h4>뭔가 첨부하기</h4>
</div>
<div class="modal-body">
    <tabset justified="true">
        <tab heading="이미지 업로드">
            <div class="well well-lg">
                <p>이미지 업로드</p>
            </div>
        </tab>
        <tab heading="동영상 링크">
            <div class="well well-lg">
                <p>동영상 링크</p>
            </div>
        </tab>
        <tab heading="코드 삽입">
            <div class="well well-lg">
                <p>아마도 ACE IDE가 오지 싶다.</p>
            </div>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-default" >닫기</button>
    <button ng-click="close()" class="btn btn-primary" >확인</button>
</div>