<div id="DummyList" class="sectional color{{($index%4)+1}}" ng-repeat="dummy in dummies">
    <div class="container">
        <div class="row section">
            <div class="col-md-12">
                <div class="content">
                    <div ng-bind-html="dummy.Content"></div>
                    <div class="pull-right">
                        <div class="modified">
                            <code>
                                <strong>{{dummy.Modified | moment:'MM월 DD일 HH시 mm분'}}</strong>
                                <span class="glyphicon glyphicon-wrench pointer" ng-click="goEdit(dummy._id)"></span>
                                <span class="glyphicon glyphicon-trash pointer"></span>
                            </code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 