<div class="sectional color1">
    <div class="container">
        <div class="row section">
            <div class="col-lg-5 col-md-5">
                <h1 class="section-headline">UnderDogg</h1>
                <p class="lead">홈서버 구축 완료</p>
                <p>앞으로 재미난걸 만들어보자.</p>
            </div>
            <div class="col-lg-7 col-md-7">

                <div class="well color1">
                    <p><a href="http://radxa.com/" target="_self"><strong>Radxa Rock</strong></a> ARM Cortex-A9 quad core @ 1.6Ghz 2GB DDR3 @ 800Mhz 8GB Nand Flash</p>
                    <p>Linux version 3.0.36+ (jaufranc@FX8350) (gcc version 4.8.1 (Ubuntu/Linaro 4.8.1- 10ubuntu7) )</p>
                    <p><a href="/userfiles/phantomjs-1.9.1-linux-armv7l.tar.bz2" target="_self"><code>armv7l phantomJS 1.9.1 binary</code></a></p>
                    <p><a href="/userfiles/mongo.tar.gz" target="_self"><code>armv7l mongodb 2.1.1 binary</code></a></p>
                </div>
            </div>
        </div>
        <div class="row section">
            <img class="img-rounded" width="100%" src="/images/pic2.jpg">
        </div>
    </div>
</div>