<div class="sectional color3">
    <div class="container">
        <div class="row section">
            <div class="col-lg-12 col-md-12">
                <!--<h1 ng-model="Content" medium-editor options='{"placeholder": "Enter a title", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}'></h1>-->
                <div pen-editor ng-model="Content"></div>
                <br>
                <br>
                <div class="well well-lg">
                    <button type="button" class="btn btn-primary" ng-click="showAttachPopup()"><i class="glyphicon glyphicon-paperclip"></i> 삽입</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="createDummy()" ng-if="!dummyId"><i class="glyphicon glyphicon-pencil"></i> 작성 완료</button>
                    <button type="button" class="btn btn-warning pull-right" ng-click="editDummy()" ng-if="dummyId"><i class="glyphicon glyphicon-pencil"></i> 수정 완료</button>
                </div>
            </div>
        </div>
    </div>
</div>