<div id="PostMain" class="sectional color3b">
    <div class="container">
        <div class="row section">
            <div class="col-md-12">

                <div class="jumbotron color3b">
                    <h2><small><strong>{{post.Modified|moment:'YYYY.MM.DD HH:mm'}}</strong>&nbsp; {{post.FirstWriter.name}}작성 </small><br><strong>{{post.Title}}</strong></h2>
                    <br>
                    <!-- Thanks to Billy McClure at GoodRx for the funniest answer to "What's a newsletter that nobody would ever sign up for?" -->
                    <div class="bindedContents" binded-contents ng-bind-html="post.Contents"></div>
                    <br>
                    <a href="/postList" class="btn color2">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PostMainComment" class="sectional color4">
    <h2 class="sectional-title"><strong></strong>댓글 달기</h2>
    <div class="container">
        <div class="row section">
            <div class="col-md-8 col-md-offset-2">
                <textarea ui-tinymce ng-model="Comment.My"></textarea>
            </div>
        </div>
    </div>
</div>